syntax-out/**/*
resources/fonts/whatdowedoallday/WhatDoWeDoAllDay-TermsOfUse.txt
resources/fonts/whatdowedoallday/WhatDoWeDoAllDay.ttf
resources/fonts/whatdowedoallday/folder.jpg
*.mtc*
*.aux
*.log
*.pyc
*.out
*.toc
*.gz
*.maf
programming-arcana.pdf
OT1tt.cmap
*.o
code/c/array/SimpleStats
code/c/array/StatsCalc
code/pascal/array/ArrayTest
code/pascal/types/TestUnion
code/c/types/SmallDB
code/c/pointers/LinkedListTest
/syntax-out/
