syntax-out/c/branching/case-statement.tex
syntax-out/c/branching/compound-statement.tex
syntax-out/c/branching/if-statement.tex
syntax-out/c/branching/statement-with-branches.tex
syntax-out/c/function-decl/function-call.tex
syntax-out/c/function-decl/function-decl.tex
syntax-out/c/function-decl/procedure-decl.tex
syntax-out/c/function-decl/program-with-func.tex
syntax-out/c/function-decl/return-statement.tex
syntax-out/c/function-decl/statement-with-return.tex
syntax-out/c/library-creation/extern-variable-decl.tex
syntax-out/c/library-creation/function-prototype-decl.tex
syntax-out/c/library-creation/header-file.tex
syntax-out/c/looping/do-while-loop.tex
syntax-out/c/looping/for-loop.tex
syntax-out/c/looping/jump-statements.tex
syntax-out/c/looping/statement-with-loops.tex
syntax-out/c/looping/while-loop.tex
syntax-out/c/parameters/procedure-call-with-ref.tex
syntax-out/c/parameters/procedure-decl-with-params.tex
syntax-out/c/procedure-decl/procedure-decl.tex
syntax-out/c/procedure-decl/program-with-procedures.tex
syntax-out/c/program-creation/comment.tex
syntax-out/c/program-creation/format-string.tex
syntax-out/c/program-creation/identifier.tex
syntax-out/c/program-creation/literal.tex
syntax-out/c/program-creation/procedure-call.tex
syntax-out/c/program-creation/program.tex
syntax-out/c/program-creation/statement.tex
syntax-out/c/program-creation/typed-literal.tex
syntax-out/c/storing-using-data/assignment-statement.tex
syntax-out/c/storing-using-data/procedure-decl-with-locals.tex
syntax-out/c/storing-using-data/program-with-globals.tex
syntax-out/c/storing-using-data/scanf-format-tags.tex
syntax-out/c/storing-using-data/statement-with-assignment.tex
syntax-out/c/storing-using-data/variable-declaration.tex
syntax-out/c/type-decl/array-decl.tex
syntax-out/c/type-decl/enum-decl.tex
syntax-out/c/type-decl/parameter-decl-with-types.tex
syntax-out/c/type-decl/program-with-types.tex
syntax-out/c/type-decl/struct-decl.tex
syntax-out/c/type-decl/type-decl.tex
syntax-out/c/type-decl/variable-decl-with-types.tex
syntax-out/example/basic_rules.tex
syntax-out/example/identifier.tex
syntax-out/pascal/program-creation/program.tex
code/c/array/a.out
code/c/array/test-array.c.out
resources/fonts/whatdowedoallday/WhatDoWeDoAllDay-TermsOfUse.txt
resources/fonts/whatdowedoallday/WhatDoWeDoAllDay.ttf
resources/fonts/whatdowedoallday/folder.jpg
topics/arrays/arrays.aux